go 1.21.4

use (
	auths-services
	./broker-services
	./data-retriever-services
	./listener-services
	./logger-services
	./matching-engine-services
	./notifications-service
	./payments-services
	./trade-services
	./user-services
	./verification-services
	./wallet-services
)
